*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.mt30{
    margin-top: 30px;
}

.mb30{
    margin-bottom: 30px;
}


/*  */
.cert__wrap{
    position: relative;
}

.cert_custom{
    background: #cccccc52;
    padding: 20px;
    border-radius: 10px;
}

span{
    color: #1c9019;
}

.cert__img{
    margin-top: 7px;
    width: 350px;
    height: auto;
}
.cert__info-wrap{
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.cert__info{
    flex: 1.5;
}
.cert__name{
    border-bottom: solid 1px #9b9999;
    margin-bottom: 20px;
}
.cert__id,
.cert__receiver,
.cert__date,
.cert__outdate,
.cert__rank,
.cert__issuer,
.cert__status,
.label{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 16px;
    margin-bottom: 10px;
}

.label{
    margin-right: 5px;
}

.cert__detail--wrap{
    display: flex;
}

.cert__code{
    text-decoration: none;
    font-style: italic;
    color: #37a6f7;
    padding: 10px;
}

.cert__code:hover{
    color: #0970bc;
}

.mycert__img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
